<div class="text-center GithubSearch">
    <h1>Search your Github</h1>
    <img src="../../../assets/GitHub-Logo.png" alt="GitHub-Logo" width="20%">
</div>

<div class="homeHome">
    <div class="container home">
        <div class ="row text-center alignHome">            
            <div class = "col-md-6">
                <h1>Links to my repository</h1>
                <div class="row">
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/myPortfolio">My Portfolio</a></button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/BurgerPalaceView">Burger Place</a></button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/QuizSet">QuizSet</a></button>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/InsuaranceWebsite">Insuarance</a></button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/Quotes">Quotes</a></button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/pizzamunchies">pizza Munchies</a></button>
                    </div>
                    
                </div>
        
                <div class="row">
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/DelaniStudio">Delani Studio</a></button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/FindTheDay">Find The Day</a></button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/TargeryanRestaurant">Targeryan Restaurant</a></button>
                    </div>
                    
                </div>
                
            </div>
            <div class="col-md-6">
                <img src="{{user.avatar_url}}" alt="profile pic" style="height: 50%;">
                <div class="userFlex">
                    <p><b>Name: </b>{{user.name}}</p>
                    <p><b>Username: </b>{{user.login}}</p>
                </div>
                <div class="userFlex">
                    <p><b>Following: </b>{{user.following}}</p>
                    <p><b>Followers: </b>{{user.followers}}</p>
                </div>
                <h3><b>Bio</b></h3>
                <p>{{user.bio}}</p>
                <button class="btnGithubUrl btn btn-outline-warning"><a href="https://github.com/vionaosiako">Go to my Github</a></button>
                

            </div>

        </div>
    </div>    
</div>



