<div class="text-center GithubSearch">
    <h1>Search your Github</h1>
    <img src="../../../assets/GitHub-Logo.png" alt="GitHub-Logo" width="20%">
</div>

<div class="homeHome">
    <div class="container home">
        <div class ="row text-center">            
            <div class = "col-md-6">
                <h3>Links to my repository</h3>
                <div class="row">
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/myPortfolio">My Portfolio</a></button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/BurgerPalaceView">Burger Place</a></button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/QuizSet">QuizSet</a></button>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/InsuaranceWebsite">Insuarance</a></button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/Quotes">Quotes</a></button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/pizzamunchies">pizza Munchies</a></button>
                    </div>
                    
                </div>
        
                <div class="row">
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/DelaniStudio">Delani Studio</a></button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/FindTheDay">Find The Day</a></button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-outline-warning"><a href="https://github.com/vionaosiako/TargeryanRestaurant">Targeryan Restaurant</a></button>
                    </div>
                    
                </div>
                
            </div>
            <div class="col-md-6">
                <img id='gh-pic'src='https://avatars.githubusercontent.com/u/98155614?v=4'>
            </div>

        </div>
    </div>    
</div>



