.GithubSearch{
    background-color: aqua;
}

.homeHome{
    background-color: aqua;
    padding: 30px;
}

.home{
    background-color: antiquewhite;
    padding: 30px;
    
}

.alignHome{
    align-items: center;
}

button{
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    background-color: aqua;
}

button a{
    text-decoration: none;
    color: #000000;
}

.btnGithubUrl{
    width: 30%;
    height: 50px;
}

.userFlex{
    display: flex;
    justify-content: space-between;
}
